@import "tailwindcss";

@theme {
    --color-background: #182c52;
    --color-text: #fff;
    --color-primary: #349be6;
    --color-accent: #e4206b;
    --color-regal-blue: #243c5a;
    --color-error: #e42020;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #fff;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none;
    background-color: #182c52;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(#172d53, #18133b);
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #334155;
    border-radius: 50px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #475569;
}
